# Exercícios - Salarios de São Francisco

Bem-vindo a um exercício rápido para você praticar suas habilidades de pandas! Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo. As tarefas se tornarão cada vez mais difíceis.

** Importe o pandas como pd.**

In [1]:
import pandas as pd

** Leia o arquivo Salaries.csv como um DataFrame chamado "sal". **

In [2]:
sal = pd.read_csv("Salaries.csv")

** Verifique o "head" do DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use o método .info () para descobrir quantas entradas existem. **

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** Qual é o "BasePay" médio? **

In [4]:
sal['BasePay'].mean()

66325.44884050643

66325.44884050643

** Qual é a maior quantidade de "OvertimePay" no conjunto de dados? **

In [6]:
sal['OvertimePay'].max()

245131.88

** Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas). **

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)? **

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

** Qual o nome da pessoa mais bem paga (incluindo benefícios)? **

In [54]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga? **

In [61]:
sal['TotalPayBenefits'].min()

-618.13

In [56]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']
#Esse funcionário

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [60]:
sal[sal['EmployeeName']=='Joe Lopez'] #Estranhamente, o funcinário tem um total de recebimentos negativo

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)? **

In [137]:
sal[['Year','BasePay']].groupby(['Year']).mean()

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** Quantos títulos de trabalho únicos existem? **

In [152]:
(sal['JobTitle'].value_counts()).count()

2159

2159

** Quais são os 5 principais empregos mais comuns? **

In [153]:
sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?) **

In [357]:
df2= pd.DataFrame(sal[sal['Year']==2013]['JobTitle'].value_counts())

In [358]:
df2['unico']=False

In [361]:
df2

                                JobTitle  unico
Transit Operator                    2295  False
Special Nurse                       1445  False
Registered Nurse                    1231  False
Public Svc Aide-Public Works         859  False
Custodian                            789  False
...                                  ...    ...
Sr General Utility Mechanic            1   True
Sprv Adult Prob Ofc (SFERS)            1   True
Mayoral Staff XII                      1   True
Pr Investigator, Tax Collector         1   True
Senior Assessment Clerk                1   True

[1051 rows x 2 columns]

In [360]:
df2['unico'].loc[df2['JobTitle']==1]='True'

C:\Users\ednae\anaconda3\envs\rsd\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [363]:
df2['unico'].value_counts()

False    849
True     202
Name: unico, dtype: int64

202

** Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bastante complicado) **

In [238]:
sal['is_chief']='False'

In [239]:
i=0
while i<len(sal['JobTitle']):
    if 'Chief' in sal.loc[i,'JobTitle']:
        sal.loc[i,'is_chief']='True'
    if 'CHIEF' in sal.loc[i,'JobTitle']:
        sal.loc[i,'is_chief']='True'
    if 'chief' in sal.loc[i,'JobTitle']:
        sal.loc[i,'is_chief']='True'
    i+=1

In [240]:
sal['is_chief'].value_counts()

False    148027
True        627
Name: is_chief, dtype: int64

627

** Bônus: Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário? **

In [243]:
sal['title_len']=sal['JobTitle'].apply(len)

In [245]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000